<footer class="footer">
    <div class="container-fluid">
      <nav class="float-left">
        <ul>
          <li>
            <a href="/">
              Education Analytica
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright float-right">
        &copy;
        <script>
          document.write(new Date().getFullYear())
        </script>, made with <i class="material-icons">favorite</i> by
        <a href="/" target="_blank">Education Analytica</a> for a better romanian exam.
      </div>
      <!-- your footer here -->
    </div>
  </footer>